/*@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');*/

.container-fluid, div.card {
    background-color: #000;
    color: #eee;
    font-family: 'Noto Music', sans-serif;
}

body {
    margin: 0;
}

div.note-set-ui, div.current-note, #notes {
    font-size: 50px;
    width: 20em;
    margin: 10px;
}

div.current-note {
    width: 3em;
}

div.note-set-ui .title {
    display: block;
}

#scales {
    border: 1px solid #ccc;
    font-size: 50px;
    margin: 10px;
}

button.btn-primary {
    padding: 10px;
    margin: 10px;
}

button.btn-secondary {
    margin: 2px;
}

button.btn-selected {
    background-color: rgb(0, 100, 0);
}

button.speedControlManual {
    width: 3em;
}

.form-group {
    padding: 0 10px;
}

.toggle {
    /*width: 2em;*/
    margin-right: 2px;
}

.noteSet, .currentNote {
    font-size: 5em;
}

